ul {
    padding: 0px;
    margin-right: 20px;
    margin-left: 20px;
    list-style: none;
}
li{
    border:2px;
    text-align: center;
    border-color:darkslategrey;
    border-style: solid;
    margin:5px;
    border-radius: 10px;
    background-color: greenyellow;
}
li:hover{
    background-color:#31cdbf;
    text-decoration: underline;
}
#titulo{
    text-align: center;
    margin:10px;
}
a {
    color:midnightblue;
    text-decoration:none;
    font-size:25px;
}
a:visited{
    color:#6d0a27;
}
a:hover, a:focus{
    text-decoration: underline;
}
header{
    width: 100%;
    text-align: center;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:bisque;
}
#senefa{
    width: 100%;
}
h1{
    margin:5px;
    font-size: 45px;
}
h3{
    margin: 10px;
}
main{
    width: 100%;
    display: flex;
}
#menu{
    width:40%;
}
#decoracion{
    padding:20px;
    width:60%;
}
#portada{
    width:12cm;
    height: 6.5cm;
}
.pie{
    font-size: small;
    width:100%;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    text-decoration: none;
    color:darkslategray
}
.galeria{
    display:flex;
    justify-content:center;
    width:100%;
}
.titulo{
    text-align: center;
    font-size: 25px;
    color:brown;
}
td{
    padding:10px;
    width:33%;
}
.miniatura{
    width:100%;
    height: 200px;
}
.numeros{
    text-align: right;
}
.precios{
    width: 50%;
    border: 2px black solid;
    padding: 1px;
}
thead{
    font-weight: bold;
}
#ubicacion{
    height: 350px;
    width:100%;
}
#mapa{
    border:2px;
    border-style: solid;
    margin-left: 25%;
    margin-right: 25%;
    width:50%;
    border-color:darkslategrey;
    border-radius: 10px;
    height: 90%;
}
#enlaceMaps{
    width:40%;
    margin-left: 30%;
    margin-right: 30%;
    font-size: fit-content;
}
.logos{
    width: 35px;
    height: 25px;
}
label, input, textarea{
    margin:10px;
}
.largo{
    width:300px;
}
.corto{
    width: 100px;
}
button{
    font-size: large;
    margin-right: 200px;
    margin-left: 10px;  
}
button:hover{
    background-color: #31cdbf;
    text-decoration: underline;
}